* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#header .home-list {
  border-bottom: solid 3px #ffb800;
  padding: 10px 0;
  background-color: #00833e;
}
#header .home-list .container-box {
  display: flex;
  justify-content: right;
  margin: 0 auto;
  max-width: 1230px;
}
#header .home-list .container-box ul {
  display: flex;
}
#header .home-list .container-box ul li {
  padding: 5px 0;
}
#header .home-list .container-box ul li a {
  border-left: solid #fff 1px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 30px;
  font-size: 18px;
  padding: 0 10px;
  font-weight: bold;
}
#header .home-list .container-box ul li a:hover {
  color: white;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
#navbar .nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1230px;
  padding: 9px;
}
#navbar .nav-container .logo img {
  height: 35px;
}
#navbar .nav-container .menu {
  display: flex;
  align-items: center;
}
#navbar .nav-container .menu ul {
  display: flex;
}
#navbar .nav-container .menu ul li {
  font-size: 16px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
#navbar .nav-container .contact {
  display: flex;
  align-items: center;
}
#navbar .nav-container .contact .language {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 50px;
  padding: 5px;
}
#navbar .nav-container .contact .language .flag {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
#navbar .nav-container .contact .language .vietnamese {
  background-color: red;
}
#navbar .nav-container .contact .language .english {
  background-color: green;
}
#navbar .nav-container .contact .phone-number {
  border: solid 2px #00833e;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}
#navbar .nav-container .contact .phone-number i {
  animation: shake 0.5s ease infinite;
}
#navbar .nav-container .contact .phone-number a {
  color: #00833e;
  font-weight: bolder;
  letter-spacing: 1px;
}
#navbar .nav-container .tab-menu {
  display: none;
  font-size: 20px;
  color: #00833e;
  align-items: center;
}
#navbar .nav-container .tab-menu .close-icon {
  display: none;
}
#navbar .nav-container .tab-menu .show-menu-tab {
  display: none;
  justify-content: space-between;
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 5;
}

#slider {
  width: 100%;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#slider .list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: max-content;
  transition: 1s;
}
#slider .list img {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
#slider .buttons {
  position: absolute;
  top: 45%;
  display: flex;
  left: 5%;
  width: 90%;
  justify-content: space-between;
}
#slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}
#slider .buttons button:hover {
  cursor: pointer;
  background-color: #fff8;
  color: #000;
}
#slider .dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
}
#slider .dots li.active {
  width: 30px;
  transition: 1s;
}
#slider .profile {
  text-align: center;
  margin-top: 20px;
}
#slider .profile button {
  background-color: #F27A61;
  margin: auto;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
}
#slider .profile input {
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
  font-size: 17px;
}
#slider .profile button:hover {
  color: white;
  cursor: pointer;
}
#slider .profile h1 {
  color: #F27A61;
  font-size: 50px;
}
#slider .profile li {
  color: #1B80F2;
  list-style: none;
  font-size: 25px;
}

#content {
  height: 2000px;
}
#content .hot-service .container .top-box {
  background: #f6f6f6;
}
#content .hot-service .container .top-box .content-box {
  max-width: 1115px;
  margin: 0 auto;
}
#content .hot-service .container .top-box .content-box .heading {
  padding: 63px 0;
  text-align: center;
}
#content .hot-service .container .top-box .content-box .heading h1 {
  color: #00833e;
  font-size: 30px;
  font-style: inherit;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 11px;
}
#content .hot-service .container .top-box .content-box .heading p {
  color: #848484;
  font-size: 16px;
  font-style: inherit;
  font-weight: 600;
  line-height: 24px;
}
#content .hot-service .container .top-box .content-box .muti-option ul {
  display: flex;
  justify-content: space-between;
}
#content .hot-service .container .top-box .content-box .muti-option ul li {
  flex: 1;
  text-align: center;
  color: #00844a;
  border: 1px #ccc solid;
  padding: 33.5px 11px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
#content .hot-service .container .top-box .content-box .muti-option ul li i {
  font-size: 35px;
  margin-bottom: 10px;
}
#content .hot-service .container .top-box .content-box .muti-option ul li span {
  font-size: 16px;
  font-style: inherit;
  font-weight: 700;
  line-height: 20px;
}
#content .hot-service .container .top-box .content-box .muti-option ul .option-2 {
  border-left: none;
  border-right: none;
}
#content .hot-service .container .top-box .content-box .muti-option ul .active {
  border-top: 5px #00844a solid;
  border-bottom: none;
}
#content .hot-service .container .bottom-box .content-box {
  display: flex;
  max-width: 1115px;
  margin: 0 auto;
  padding: 60px 20px 95px 20px;
}
#content .hot-service .container .bottom-box .content-box .left-box {
  flex: 1;
}
#content .hot-service .container .bottom-box .content-box .left-box h1 {
  color: #00844a;
  font-size: 22px;
  font-style: inherit;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 21px;
}
#content .hot-service .container .bottom-box .content-box .left-box ul li {
  color: black;
  font-size: 18px;
  font-style: inherit;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#content .hot-service .container .bottom-box .content-box .left-box ul li i {
  color: #00833e;
  margin-right: 16px;
}
#content .hot-service .container .bottom-box .content-box .left-box button {
  padding: 8px 32px;
  background: #00833e;
  color: white;
  border: none;
  min-width: 125px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 32px;
}
#content .hot-service .container .bottom-box .content-box .right-box {
  flex: 1;
}
#content .hot-service .container .bottom-box .content-box .right-box img {
  width: 100%;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1024px) {
  #slider {
    height: 300px;
  }

  #header .home-list {
    display: none;
  }

  #navbar .nav-container .menu {
    display: none;
  }
  #navbar .nav-container .contact .language {
    display: none;
  }
  #navbar .nav-container .tab-menu {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  #slider {
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  #slider {
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
